node_modules
.DS_Store
#dist

Coverage
coverage

/*.env
/node_modules
npm-debug.log
/*.env
/.vscode
/.env
/recordsetsFromDB
/dist
/apiPostReqExample.json
/apiPostReq.json
apiPostReq.json
apiPostReqExample.json